[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/markbartish
[access "refs/for/refs/*"]
	read = group user/markbartish
	push = group user/markbartish
	label-Code-Review = -2..+2 group user/markbartish
	label-Verified = -1..+1 group user/markbartish
	rebase = group user/markbartish
	removeReviewer = group user/markbartish
	submit = group user/markbartish
[access "refs/heads/*"]
	read = group user/markbartish
	create = group user/markbartish
	push = +force group user/markbartish
	pushMerge = group user/markbartish
[access "refs/tags/*"]
	push = group user/markbartish
	push = +force group user/markbartish
